.DS_Store
/github-lite.xcodeproj/xcuserdata/dekablade01.xcuserdatad/xcschemes/xcschememanagement.plist
/github-lite.xcworkspace/xcuserdata/dekablade01.xcuserdatad/xcdebugger
/github-lite.xcworkspace/xcuserdata/dekablade01.xcuserdatad
